#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}    




/* Card styling */
.card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 100%; /* Full width */
  height: 100%;
  max-width: 800px; /* Optional: Limit width for better appearance */
  margin: 0 auto;
  box-sizing: border-box;
  
  
}

.PurpleNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%) ;
  background: #9b59b6;
  display: flex;
  justify-content:space-around;
  padding: 10px 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  transition: background-color 0.3s;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
}
